 <div id="gameMode">
  <ul class="button-group">
    <li><a href="#" class="button" onclick="js:chooseGameMode(this);" id="m">Multilayer</a> </li>
    <li><a href="#" class="button" onclick="js:chooseGameMode(this);" id="s">Single player</a> </li>
  </ul>
</div>

<div id="con">
  <div id="gameDiv"> </div>
  <div id="input">
    <input type="text" id="in" tabindex=1>
  </div>
  <div id="wpm"></div>
  <div id="accuracy"></div>
</div>
